:root {
    font-size: 60%; 
    --primary-color: #6A0BD9;
    --primary-color-dark: #5a0ab5;
    --background-primary-color: #ccc;
    --cta-buttons-color: #04d361;
    --cta-buttons-dark-color: #04bf58;
}

body{
    color: var(--primary-color);
} 

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}


html, body, #root{
    height: 100vh;
}


body,input, button, textarea{
    font-family:'Poppins';
    font-size: 1.6rem;
}



.default-cta-button{
    background-color: var(--cta-buttons-color);
    color: white;
    padding: 15px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;

}



@media (min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}



