.cta-container-title{
    padding: 50px;
    margin-top: 35px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cta-title{
    font-size: 35px;
    text-align: center;
}

.container-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}

.container-arrow p{
    margin: 0px 20px 10px;
    
}

.arrow-icon{
    text-align: center;
    width: 100vw;
    font-size: 6rem;
    background: transparent;
    border: none;
    color: var(--primary-color);
    animation-name: arrow-float;
    animation-duration: .5s; 
    animation-iteration-count: infinite ;
    animation-direction: alternate-reverse;

}

@keyframes arrow-float {
    0% {
        transform: translateY(0);
    }

    100%{
        transform: translateY(10px);
    }
    0% {
        transform: translateY(0);
    }

}

.container-plans{
    padding: 0 20px;
}

.low-level-pack{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: solid 2px var(--primary-color); 
    border-radius: 10px;
    padding: 20px 10px;
    margin: 30px auto;
}

.low-level-pack li{
    list-style: none;
    margin-bottom: 10px;
}

@media all and (min-width : 786px) {
    
    .container-arrow{
        margin-bottom: 80px;
    }
    .container-plans{
        display: flex; 

    }

    .box-emphasis{
        margin-top: -25px;
    }
    .container-plan-images-row-01{
        width: 33.4%;
        display: flex; 
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .container-plan-images-row-01 p{
        margin-top: 1.2rem;
    }

}