.cta-container-title{
    padding: 50px;
    margin-top: 35px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cta-title{
    font-size: 35px;
    text-align: center;
}

.container-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}

.container-arrow p{
    margin: 0px 20px 10px;
    
}

.arrow-icon{
    text-align: center;
    width: 100vw;
    font-size: 6rem;
    background: transparent;
    border: none;
    color: var(--primary-color);
    animation-name: arrow-float;
    animation-duration: .5s; 
    animation-iteration-count: infinite ;
    animation-direction: alternate-reverse;

}

@keyframes arrow-float {
    0% {
        transform: translateY(0);
    }

    100%{
        transform: translateY(10px);
    }
    0% {
        transform: translateY(0);
    }

}

.container-plan-images{

    padding: 0 10px;
}
.container-plan-images img{
    width: 100%;
    border-radius: 5px;
}


.container-child-plan-images{
    border: solid 2px var(--primary-color);
    border-radius: 10px;
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.container-child-plan-images a{
    text-align: center;
    margin-top: 20px;
    width: 60%;
}


.container-plan-images-row-01 p {
    margin-bottom: 20px;
    width: 95vw
}


@media all and (min-width : 786px) {
    
    .container-arrow{
        margin-bottom: 80px;
    }

    .container-plan-images{
        display: flex; 
        flex-direction: column;
        
    }
    .container-plan-images-row-01{
        display: flex; 
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .container-plan-images-row-01 p{
        margin-top: 1.2rem;

    }


    .container-plan-images-row-02{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .container-plan-images{
        display:  flex;
    }
    .container-plan-images img{
        width: 40vw;

    }

}