header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-soluc{
    width: 120px;
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 35px;
    bottom: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    cursor: pointer;
    
}

.contact-button p{
    color: var(--cta-buttons-color);
}

.wpp-button{
    background: var(--cta-buttons-color);
    font-size: 55px;
    border-radius: 100%;
    padding:  10px;
}

@media all and (min-width : 786px) {
    
    .logo-soluc{
        width: 150px;
    }
        

    
        
}
