.text-box{
    background: white; 
    border-radius: 10px;
    padding: 30px 15px 50px;
    margin: 10px;
}

@media all and (min-width : 786px) {

    .container-text-box{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .text-box{
        width: 45%;
        height: 250px;
        margin-bottom: 120px;
    }

}

